<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".DebugWhiteNoiseApplication"
        tools:replace="android:name">
        <!-- Keep device-only Compose fixtures resumed when test hardware is locked. -->
        <activity
            android:name="androidx.activity.ComponentActivity"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <service
            android:name=".notifications.NotificationTimingListenerService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
